<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <script type="module" src="/scripts/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h2>Welcome to <%= data.title %>🕷️</h2>
      <div class="userInput">
        <div>
          <input type="text" name="url" id="inputUrl" placeholder="Enter URL to crawl">
          <button id="crawlButton">Crawl</button>
        </div>
        <div>
          <input type="text" name="query" id="inputQuery" placeholder="Enter your query here">
          <button id="queryButton">Ask</button>
        </div>
      </div>
      <div class="result">
        <div class="loader"></div>
        <div id="answer">Results will be shown here.</div>
        <div id="error"></div>
      </div>
    </div>  
  </body>
</html>
