body {
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  background-color: beige;
}

.container {
  background: silver;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 35px;
  box-shadow: 12px 12px 12px #8f8f8f;
}

.userInput {
  display: flex;
  flex-direction: column;
}

.userInput div {
  padding: 10px;
}

input {
  height: 28px;
  width: 70%;
}

button {
  height: 30px;
  width: 10%;
}

.result {
  background: white;
  border-radius: 5px;
  width: 80%;
  margin: auto;
}

#answer {
  padding: 5px;
  text-align: justify;
  text-wrap: wrap;
  min-height: 60px;
  color: #3358a0;
  margin: auto;
}

#error {
  color: red;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  